<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        GunplaSeeker - Error
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

    <main> 
        
        <h2>Error</h2>
        
        <section class="error-container">
            <dl>
                <% errors.forEach(error => { %>
                <dt><%= error.field %></dt>
                <dd><%= error.message %></dd>
                <% }) %>
            </dl>
        </section>
        <%- include('filters') %>
        
    </main>
    
    <%- include('footer') %>

</body>
</html>