<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        GunplaSeeker
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

        <main>

            <div id="pagination">
                <p class="white" id="page0"><%= currentPage ? 'Page: ' + currentPage : '' %></p>
                <p class="white" id="message">
                    <%= message %>
                </p>
                <nav id="page-nav">
                    <ul class="page-list">
                        <% if(currentPage) { %>
                            <% const queryStr = new URLSearchParams(query).toString() %>
                            <% if (hasPreviousPage) { %>
                                <li><a class="page-link yellow" href="?<%= queryStr %>&page=<%= currentPage - 1 %>">Previous</a></li>
                            <% } %>

                            <% if (hasPreviousPage || hasNextPage) { %>
                                <li class="current-page yellow">Page <%= currentPage %>
                                </li>
                            <% } %>

                            <% if (hasNextPage) { %>
                                <li><a class="page-link yellow"
                                        href="?<%= queryStr %>&page=<%= currentPage + 1 %>">Next</a></li>
                            <% } %>
                        <% } %>
                                            
                    </ul>
                </nav>
                
            </div>


            <!--we call it section instead of div since it might be part of the marking criteria-->
            <div class="main_">
                <div></div>
                <section id="content">
                    <% listings.forEach((listing)=> { %>
                        <div class="listing">
                            <h2 class="model-name">
                                <%= listing.modelName %>
                            </h2>
                            <p class="info">Grade: <%= listing.modelGrade %>
                            </p>
                            <p class="info">Price: $<%= listing.price %>
                            </p>
                            <p class="info">Date added: <%= new Date(listing.timestamp).toDateString() %>
                            </p>
                            <p class="info">Store Name: <%= listing.storeName %>
                            </p>
                            <p class="info">Location: <%= listing.streetNumber %>
                                    <%= listing.streetName %>, <%= listing.city %>, <%= listing.province %>
                            </p>
                        </div>
                        <% }) %>
                </section>
                <%- include('filters') %>
            </div>

        </main>

        <%- include('footer') %>
    </body>
</html>