<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        GunplaSeeker
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

        <main>
            <p> <%= message %> </p>
            <p> Page: <%= currentPage %> </p>

            <section id="content">
                <% listings.forEach((listing) => { %>
                    <div class="listing"> 
                        <h2 class="model-name"><%= listing.modelName %></h2>
                        <p class="info">Grade: <%= listing.modelGrade %></p>
                        <p class="info">Price: $<%= listing.price %></p>
                        <p class="info">Date added: <%= new Date(listing.timestamp).toDateString() %></p>
                        <p class="info">Location: <%= listing.streetNumber %> <%= listing.streetName %>, <%= listing.city %>, <%= listing.province %> </p>
                    </div>
                <% }) %>
            </section>

            <!--we need a page navigation here-->

            <%- include('filters') %>

        </main>

        <%- include('footer') %>
</body>
</html>