<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        GunplaSeeker - All Listings
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

        <main>
            <p class="white"> <%= message %> </p>

            <section id="content">
                <% Object.keys(listings).sort().forEach(letter => { %>
                <h2 class="white"><%= letter %></h2>
                <ul>
                    <% listings[letter].forEach(model => { %>
                        <li class="white">
                            <a class="white" href='/api/v1/listings?modelName=<%= encodeURI(model.modelName) %>'>
                                <%= model.modelName %>
                            </a> 
                            — <%= model.totalEntries %> entries
                        </li>
                    <% }); %>
                </ul>
                <% }); %>
            </section>

            <%- include('filters') %>

        </main>

        <%- include('footer') %>
</body>
</html>