<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= person %>
    </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('header') %>

        <main>
            <div id="content">
                <div class="listing">
                    <p class="listing-title">
                        <%= person+"'s" %> listing
                    </p>
                    <img>
                </div>
                <div class="listing">listing</div>
                <div class="listing">listing</div>
            </div>

            <%- include('filters') %>

        </main>

        <%- include('footer') %>
</body>

</html>